.card{
  box-shadow: rgba(255, 0, 0, 0.35) 0px 5px 15px;
}
.main{
  min-height: 100vh;
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  background-color:#212121;
  color: #e1e1e1;
}
.container{
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px
  
}