.percentageBar[aria-selected="true"] {
    transform: scale(1.05);
}

.percentageBar[aria-faded="true"] {
    filter: contrast(0.6);
}

.percentageBar {
    width: 10em !important;
    height: 1em !important;
    margin-right: 5px;
    transition: .2s;
}

.text {
    width: 5rem;
}